body{
    background: url(./bg.jpg);
    background-size: cover;
    background-position-y: -80px;
}
#wrapper{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#Wrapper .error {
    font-size: 50px;
    background: #F2DEDE;
    color: #A94442;
    padding: 10px;
    width: 95%;
    border-radius: 5px;
    margin: 20px auto;
 }
#form-login{
    max-width: 400px;
    background: rgba(0,0,0, 0.8);
    flex-grow: 1;
    padding: 30px 30px 40px;
    box-shadow: 0px 0px 17px 2px rgba(255,255,255,0.8);

}

.form-heading{
    font-size: 25px;
    color: #f5f5f5;
    text-align: center;
}
.form-group{
    border-bottom: 1px solid #fff;
    margin-top: 15px;
    margin-bottom: 20px;
}
.form-group i{
    color: #fff;
    font-size: 14px;
}
.form-input{
    background: transparent;
    border: 0;
    outline: 0;
    color: #fff;
    flex-grow: 1;

}
#eye i{
    float: right;
    margin-top: -20px;
}
.form-input ::placeholder{
    color: #f5f5f5;
}
.form-submit{
    background: transparent;
    border: 1px solid #f5f5f5;
    color: #fff;
    width: 100%;
    text-transform: uppercase;
    padding: 6px 10px;
    transition: 0.25s ease-in-out;
    margin-top: 30px;
}
.form-submit:hover{
    border: 1px solid #54a0ff;
}
#form-login .lienket a{
    font-size: 20px;
    margin-top: 20px;
    float: right;
    color: #fff;
    text-decoration: none;
}
#form-login .lienket a:hover{
    color: red;
}